@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

#menu-12 .mbr-brand__name {
  font-size: 16px;
}
#menu-12.mbr-navbar--stuck .mbr-navbar__section {
  background: #0899ff;
}
#menu-12.mbr-navbar--auto-collapse.mbr-navbar--open .mbr-navbar__menu {
  background: #0899ff;
}
#menu-12 .mbr-navbar__section {
  background: #0899ff;
}
#menu-12 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-12 .mbr-navbar__items a {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}
#menu-12 .mbr-brand__name a {
  font-size: 32px;
}
#header1-1a H2 {
  color: #3498db;
}
#header1-1a P {
  color: #000000;
}
#msg-box3-26 .mbr-section-title {
  color: #3498db;
  text-align: center;
}
#header6-23 H2 {
  color: #3498db;
  text-align: center;
}
#header6-23 P {
  color: #000000;
}
#header6-23 H6 {
  color: #000000;
}
#content3-1i H2 {
  color: #3498db;
  text-align: center;
}

#menu-1k .mbr-brand__name {
  font-size: 16px;
}
#menu-1k.mbr-navbar--stuck .mbr-navbar__section {
  background: #0899ff;
}
#menu-1k.mbr-navbar--auto-collapse.mbr-navbar--open .mbr-navbar__menu {
  background: #0899ff;
}
#menu-1k .mbr-navbar__section {
  background: #0899ff;
}
#menu-1k .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-1k .mbr-navbar__items a {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}
#content1-1m .service-content span {
  color: #3498DB;
  border: 2px solid #3498DB;
}
#content1-1m .service-content:hover span {
  background-color: #3498DB;
  border: 2px solid #3498DB;
  color: white;
}

#menu-1q .mbr-brand__name {
  font-size: 16px;
}
#menu-1q.mbr-navbar--stuck .mbr-navbar__section {
  background: #0899ff;
}
#menu-1q.mbr-navbar--auto-collapse.mbr-navbar--open .mbr-navbar__menu {
  background: #0899ff;
}
#menu-1q .mbr-navbar__section {
  background: #0899ff;
}
#menu-1q .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-1q .mbr-navbar__items a {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

#menu-1u .mbr-brand__name {
  font-size: 16px;
}
#menu-1u.mbr-navbar--stuck .mbr-navbar__section {
  background: #0899ff;
}
#menu-1u.mbr-navbar--auto-collapse.mbr-navbar--open .mbr-navbar__menu {
  background: #0899ff;
}
#menu-1u .mbr-navbar__section {
  background: #0899ff;
}
#menu-1u .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-1u .mbr-navbar__items a {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}
